@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-colour: #fcd34d;
}
body {
  display: grid;
  grid-template-rows: 150px auto 150px;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.75rem;
  background-color: var(--primary-colour);
  padding-inline-start: 0px;
}
.navigation-heading {
  text-align: center;
  margin: 0rem;
  padding: 0.5rem 0.5rem;
}
.nav-image {
  max-width: 80px;
  max-height: 80px;
}

textarea {
  width: 90%;
  margin: 1rem;
  display: block;
  height: 12vh;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-colour);
}

#txt-input {
  text-align: center;
}
.btn-div {
  text-align: center;
}
#btn-translate {
  background-color: var(--primary-colour);
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin: auto;
}
.outputmessage-div {
  font-size: large;
  text-align: center;
  padding: 1rem 1rem;
}
#output {
  text-align: center;
  padding: 1rem;
  border: 2px solid var(--primary-colour);
  border-radius: 1rem;
  height: 12vh;
  width: 90%;
  margin: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-colour);
  padding: 2rem 1rem;
}
.footer-heading {
  text-align: center;
}
